<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kosmo.project3.schlineapp">
    <!-- 네트워크 사용위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 채팅추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_schline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_schline_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchLineApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:windowSoftInputMode="adjustResize"
        >
        <activity android:name=".TeamActivity"></activity>
        <activity android:name=".SchlineExoPlayer"></activity>
        <activity android:name=".LectureView" />
        <activity android:name=".studyroom.EditInfoActivity"
            android:windowSoftInputMode="adjustResize|adjustPan"
            ></activity>
        <activity android:name=".studyroom.ChatEnterActivity" />
        <activity android:name=".studyroom.ChatActivity" />
        <activity android:name=".studyroom.StudyroomChatActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EmptyActivity" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />




    </application>

</manifest>